{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>X_-_C </title>
    {% endif%}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'blog/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/templatemo-finance-business.css' %}">
    <link rel="stylesheet" href="{% static 'blog/assets/css/owl.css' %}">
<!--



-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    
    <div class="sub-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <ul class="left-info">
              <li><a href=""><i class="fa fa-phone"> call-us</i></a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="right-icons">
                <li><a href="https://www.facebook.com/xcybern"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/xcybern"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/xcybern"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/xcybern.dev"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>X_-_C</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#top">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cyberspace' %}">Cyber Space</a>
              </li>  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'discuss_space' %}">Discussion</a>
              </li>                          
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              <li {% if request.resolver_match.url_name == 'about' %} class="nav-item active" {% endif %}>
                <a class="nav-link" href="{% url 'about'%}">About Us</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile'%}">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout'%}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item dropdown" >
                <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Login </a>
                <div class="dropdown-menu" aria-labelledby="dropdown-a">
                  <a class="dropdown-item" {% if request.resolver_match.url_name == 'login' %} class="nav-item active" {% endif %} href="{% url 'login'%}">Login </a>
                  <a class="dropdown-item" {% if request.resolver_match.url_name == 'register' %} class="nav-item active" {% endif %} href="{% url 'register'%}">Register </a>
                </div>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are ready to help you</h6>
                  <h4>Combating<br>Computer Cybercrime</h4>
                  <p>Cyber criminals can target more than one person at a time. The availability of virtual spaces to public and private sectors has allowed cybercrime to become an everyday occurrence. In 2018, The Internet Crime Complaint Center received 351,937 complaints of cybercrime, which lead to $2.7 billion lost.</p>
                  <a href="contact.html" class="filled-button">contact us</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we are here to support you</h6>
                  <h4>Awareness</h4>
                  <p>As technology advances and more people rely on the internet to store sensitive information such as banking
                    or credit card information, criminals increasingly attempt to steal that information. Cybercrime is becoming
                    more of a threat to people across the world. Raising awareness about how information is being protected and
                    the tactics criminals use to steal that information continues to grow in importance.</p>
                  <a href="services.html" class="filled-button">our services</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6>we have a solid background</h6>
                  <h4>Intelligence</h4>
                  <p>As cybercrime has proliferated, a professional ecosystem has evolved to support individuals and groups
                    seeking to proﬁt from cybercriminal activities. The ecosystem has become quite specialized, including
                    malware developers, botnet operators, professional cybercrime groups, groups specializing in the sale of
                    stolen content, and so forth.</p>
                  <a href="about.html" class="filled-button">learn more</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>Request a call back right now ?</h4>
            <span>Do you need to make a request for one of our services or you just need to get in touch with us.</span>
          </div>
          <div class="col-md-4">
            <a href="{% url 'contact' %}" class="border-button">Contact Us</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Cyber <em>Services</em></h2>
              <span></span>
            </div>
          </div>

          {% for service in services %}
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{ service.image.url }}" alt="">
              <div class="down-content">
                <h4>{{ service.title }}</h4>
                <p>{{ service.content }}</p>
                <a href="" class="filled-button">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Lorem ipsum dolor sit amet</span>
              <h2>Our solutions for your <em>business growth</em></h2>
              <p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
              <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">945</div>
                  <div class="count-title">Work Hours</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1280</div>
                  <div class="count-title">Great Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">578</div>
                  <div class="count-title">Projects Done</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">26</div>
                  <div class="count-title">Awards Won</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <hr>
                  <div class="left-image">
                    <img src="{% static 'blog/assets/images/more-info.jpg' %}" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>___Tips for email security</span>
                    *A tip we bet you don't wanna miss.
                    <h2>Get to <em>make your email more secure.</em></h2>
                    <p>Email security is an extensive term that subsumes the umpteen tools and techniques
                      to prevent from unforeseen contingencies as well as for securing email services. To cre-
                      ate email services sturdier, there is requirement to set regulations for users’ perspective
                      alongside the email service provider.<br> The user has to follow certain points as follows:
                      
                      <br>-Antivirus application on system
                      <br>-Spam filters
                      <br>-Antispam application
                      <br>-Strong password
                      <br>-Password rotation.
                    </p>
                    <a href="#" class="filled-button">Get More Tips To Your Email</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Disclaimer</h4>
                  <span>caution</span>
                  <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>support</em></h2>
              <span>request a hack if you do need one</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_name|crispy }}
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_email|crispy }}
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      {{ form_subject|crispy }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      {{ form_message|crispy }}
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              <div class="partner-item">
                <img src="{% static 'blog/assets/images/pyvot.png' %}" title="pyvot360" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'blog/assets/images/pyvot.png' %}" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'blog/assets/images/pyvot.png' %}" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'blog/assets/images/pyvot.png' %}" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="{% static 'blog/assets/images/pyvot.png' %}" title="5" alt="5">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Footer Starts Here -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-item">
            <h4>X_-_C</h4>
            <p>Making awareness about recent threat of how people are getting defrauded each day.</p>
            <ul class="social-icons">
              <li><a rel="nofollow" href="https://www.facebook.com/xcybern" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.twitter.com/xcybern"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/xcybern"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/xcybern.dev"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Useful Links</h4>
            <ul class="menu-list">
              {% for link in links %}
              <li><a href=" {{ link.link }} "><u> {{ link.title }} </u></a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Additional Pages</h4>
            <ul class="menu-list">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'about' %}">How We Work</a></li>
              <li><a href="{% url 'contact' %}">Quick Support</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
              <li><a href="{% url 'about' %}">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-3 footer-item">
            <h4>Product</h4>
            <ul class="menu-list">
              <p><a href="#">coming soon..</a></p>
            </ul>
          </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Copyright &copy; 2022 - <script>document.write(new Date().getFullYear());</script> CYBERN
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Additional Scripts -->
    <script src="{% static 'blog/assets/js/custom.js' %}"></script>
    <script src="{% static 'blog/assets/js/owl.js' %}"></script>
    <script src="{% static 'blog/assets/js/slick.js' %}"></script>
    <script src="{% static 'blog/assets/js/accordions.js' %}"></script>
    <script src="{% static 'blog/assets/js/customhack.js' %}"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>